body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

h1 {
    margin:0;
}

p, input,label,select,button {
    font-size:18px;
}


.input-group {
    padding-top:20px;
}

.success {
    color:limegreen;
}

.error {
    color:red;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .5s, opacity .5s linear;
  }
  